In [1]:
# Consider a function named calculate_total that takes two numbers as input (parameters), adds them together, and then produces the sum as the output. Here's how it works:
def calculate_total(a, b):  # Parameters: a and b
    total = a + b           # Task: Addition
    return total            # Output: Sum of a and b
result = calculate_total(5, 7)  # Calling the function with inputs 5 and 7
print(result)  # Output: 12

12

In [4]:
# len(): Calculates the length of a sequence or collection
string_length = len("Hello, World!")  # Output: 13
list_length = len([1, 2, 3, 4, 5])   # Output: 5
print(string_length)

13

In [6]:
# sum(): Adds up the elements in an iterable (list, tuple, and so on)
total = sum([10, 20, 30, 40, 50])  # Output: 150
print(total)

150

In [7]:
# max(): Returns the maximum value in an iterable

highest = max([5, 12, 8, 23, 16])  # Output: 23
print(highest)

23

In [9]:
# min(): Returns the minimum value in an iterable
lowest = min([5, 12, 8, 23, 16])  # Output: 5
print(lowest)

5

In [10]:
def greet(name):
    return "Hello, " + name
result = greet("Alice")
print(result)  # Output: Hello, Alice

Hello, Alice

In [11]:
def multiply(a, b):
    """
    This function multiplies two numbers.
    Input: a (number), b (number)
    Output: Product of a and b
    """
    print(a * b)
multiply(2,6)

12

In [13]:
def add(a, b):
    return a + b
sum_result = add(3, 5)  # sum_result gets the value 8
print(sum_result)

8

In [16]:
# Part 1: Global variable declaration
global_variable = "I'm global"
# Part 2: Function definition
def example_function():
    local_variable = "I'm local"
    print(global_variable)  # Accessing global variable
    print(local_variable)   # Accessing local variable
# Part 3: Function call
print(global_variable)  # Accessible outside the function
# Part 5: Attempting to access local variable outside the function
 # print(local_variable)  # Error, local variable not visible here

I'm global

In [17]:
# Functions and loops together
def print_numbers(limit):
    for i in range(1, limit+1):
        print(i)
print_numbers(5)  # Output: 1 2 3 4 5

1
2
3
4
5

In [18]:
# Enhancing code organization and reusability
def greet(name):
    return "Hello, " + name
for _ in range(3):
    print(greet("Alice"))

Hello, Alice
Hello, Alice
Hello, Alice

In [21]:
# Modifying data structure using functions
# Part 1: Initialize an empty list
# Define an empty list as the initial data structure
my_list = []
# Part 2: Define a function to add elements
# Function to add an element to the list
def add_element(data_structure, element):
    data_structure.append(element)
 # Part 3: Define a function to remove elements
 # Function to remove an element from the list
def remove_element(data_structure, element):
    if element in data_structure:
        data_structure.remove(element)
    else:
        print(f"{element} not found in the list.")
 # Part 4: Add elements to the list
 # Add elements to the list using the add_element function
add_element(my_list, 42)
add_element(my_list, 17)
add_element(my_list, 99)
# Part 5: Print the current list
# Print the current list
print("Current list:", my_list)

Current list: [42, 17, 99]

In [22]:
# Part 6: Remove elements from the list
# Remove an element from the list using the remove_element function
remove_element(my_list, 17)
remove_element(my_list, 55)  # This will print a message since 55 is not in the list

55 not found in the list.

In [23]:
# Part 7: Print the updated list
# Print the updated list
print("Updated list:", my_list)

Updated list: [42, 99]