In [ ]:
def function(a):
  # add 1 to a #
  b = a + 1;
  print(a, "+1   = ", b)
  return b

In [ ]:
def f1(inpit):
  #add 1 to input #
  output = input + 1;
  return output

In [ ]:
def f3(inpit):
  #add 2 to input #
  output = input + 2;
  return output

In [ ]:
album_ratings = [10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
L = len(album_ratings)
print(L)

8

In [ ]:
S = sum(album_ratings)
print(S)

70.0

In [ ]:
album_ratings = [10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
sorted_album_ratings = sorted(album_ratings)
print(sorted_album_ratings)

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [ ]:
album_ratings = [10.0,8.5,9.5,7.0,7.0,9.5,9.0,9.5]
album_ratings.sort()
print(album_ratings)

[7.0, 7.0, 8.5, 9.0, 9.5, 9.5, 9.5, 10.0]

In [ ]:
def add1(a):
    # Add 1 to a
    b = a + 1
    print(a, "+", 1, "=", b)
    return b

add1(5)

5 + 1 = 6

6

In [ ]:
def add1(a):
    # Add 1 to a
    b = a + 1
    return b

print(add1(5))       # Will show: 6
C = add1(10)
print("C =", C)      # Will show: C = 11

6
C = 11

In [ ]:
def Mult(a, b):
    # Find the product of a and b
    c = a * b
    return c

Mult(2, 3)  # This runs the function, but result won't show unless you print it

6

In [ ]:
Mult(4,5)

20

In [ ]:
Mult(2, "Michael Jackson")

'Michael JacksonMichael Jackson'

In [ ]:
def MJ():
  # When a function has no return
  print("Michael Jackson")
MJ

In [ ]:
def MJ():
  # When a function has no return
  print("Michael Jackson")
MJ()

Michael Jackson

In [ ]:
def NoWork():
    # defining a function with no task
    pass

print(NoWork())

None

In [ ]:
def add1(a):
    b = a + 1
    print(a, "plus 1 equals", b)
    return b

add1(4)

4 plus 1 equals 5

5

In [ ]:
def add1(a):
    b = a + 1
    print(a, " + 1 = ", b)
    return b

add1(4)

4  + 1 =  5

5

In [ ]:
def printStuff(Stuff):
    for i, s in enumerate(Stuff):
        print("Album", i, "Ratings is", s)

# Define the list and call the function outside
album_ratings = [10.5, 8.5, 9.5]
printStuff(album_ratings)

Album 0 Ratings is 10.5
Album 1 Ratings is 8.5
Album 2 Ratings is 9.5

In [4]:
def ArtistName(*names):
    for name in names:
        print(name)

ArtistName("Michael Jackson", "AC/DC", "Pink Floyd")

Michael Jackson
AC/DC
Pink Floyd

In [5]:
def AddDc(x):
    x = x + "DC"      # Concatenates "DC" to the string x
    print(x)          # Prints the new value
    return x          # Returns the new value

x = "AC"
z = AddDc(x)

ACDC

In [5]:
def Thriller():
    Date = 1982
    return Date

# Call the function and store the result in a variable
Date = Thriller()       # Date = 1982
print(Date)             # ➜ Output: 1982

Date = 2017             # Now you change Date to 2017
print(Thriller())       # ➜ Still prints 1982

1982
1982

In [10]:
def ACDC(y):
    print(Rating)
    return Rating + y

Rating = 9
z = ACDC(1)
print( z)        # This will show: z = 10

9
10

In [13]:
def PinkFloyd():
    global ClaimedSales
    ClaimedSales = "45 million"
    return ClaimedSales

PinkFloyd()
print(ClaimedSales)

45 million